ion-title {
    text-align: center;
  }
  
  ion-content {
    --background: rgb(238, 174, 202);
    --background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(241, 164, 14, 0.8645833333333334) 0%);
    margin-top: 0px; /* Elimina el margen superior del ion-content */
    padding-top: 0px; /* Elimina el padding superior del ion-content */
  }
  
  ion-header, 
  ion-toolbar {
    margin-top: 0 !important; /* Elimina el margen superior del ion-header y ion-toolbar */
    padding-top: 0 !important; /* Elimina el padding superior del ion-header y ion-toolbar */
  }
  
  ion-card {
    --background: rgb(133, 89, 24);
    --background: radial-gradient(circle, rgb(212, 72, 133) 0%, rgba(177, 60, 31, 0.865) 0%);
  }
  
  ion-item {
    --background: rgba(103, 28, 224, 0.014);
  }
  
  ion-card-title {
    color: azure;
    text-align: center;
  }
  
  ion-button {
    color: azure;
    --background: rgb(36, 21, 12);
  }
  
  .toast-centered {
    .toast-message {
      text-align: center;
    }
  }
  
  .input-with-user-icon ion-icon {
    color: #000000;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .input-with-lock ion-icon {
    color: #ffffff;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
  }