
<app-header title="Centro Asistencia" [showMenu]="true"></app-header>
<ion-tabs>
  
  
  <ion-tab-bar slot="bottom"> 

    <ion-tab-button tab="perros">
      <fa-icon [icon]="faDog"></fa-icon> 
      <ion-label>Perros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gatos">
      <fa-icon [icon]="faCat"></fa-icon> 
      <ion-label>Gatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <fa-icon [icon]="faFileWaveform"></fa-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="veterinario">
      <fa-icon [icon]="faLocationDot"></fa-icon>
      <ion-label>Veterinario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
