<ion-tabs>
  <ion-tab-bar slot="bottom"> 
    <ion-tab-button tab="enfermedades-comunes">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Enfermedades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lesiones">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Lesiones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ataques">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Ataques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="envenenamiento">
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>Envenenamiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="veterinarios-cercanos">
      <ion-icon name="location-outline"></ion-icon> 
      <ion-label>Veterinarios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>