
<app-header title="Seleccione su Mascota" [showMenu]="true"></app-header>
<ion-router-outlet id="menu-content" main></ion-router-outlet>

<router-outlet></router-outlet>
<ion-content class="ion-padding" style="--background: url('/assets/img/fondoMascota.png') no-repeat center/cover;">
  
  <div class="centered-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div class="mascota-container" (click)="seleccionarMascota('perro')">
            <img #card src="assets/img/PerroIcono.png" alt="Perro">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div class="mascota-container" (click)="seleccionarMascota('gato')">
            <img #card src="assets/img/GatoIcono.png" alt="Gato">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
