<ion-content class="ion-padding" style="--background: url('/assets/img/fondoMascota.png') no-repeat center/cover;">
  <div class="container border mt-3 bg-light">
    <div class="row">
      <div class="col-md- p-3 bg-primary text-white">
        <h1>¡Hola!</h1>
        <h4>
          Por favor, rellena el formulario para ponerte en contacto.
        </h4>
      </div>
      <div class="col-md-6 border-left py-3">
        <h1>Formulario de Contacto</h1>
        <form (ngSubmit)="sendMail()">
          <div class="form-group">
            <h5 for="name">Nombre</h5>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="form.name"
              name="name"
              placeholder="Ingresa tu nombre"
              required
            />
          </div>
          <div class="form-group">
            <h5 for="email">Correo Electrónico</h5>
            <input
              type="email"
              class="form-control"
              id="email"
              [(ngModel)]="form.email"
              name="email"
              placeholder="Ingresa tu correo"
              required
            />
          </div>
          <div class="form-group">
            <h5 for="message">Mensaje</h5>
            <textarea
              class="form-control"
              id="message"
              [(ngModel)]="form.message"
              name="message"
              rows="3"
              placeholder="Escribe tu mensaje"
              required
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
