<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuidados de Gatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="--background: url('/assets/img/fondoMascota.png') no-repeat center/cover;">
  <!-- Introducción -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información General</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Consejos sobre enfermedades, cuidados en emergencias y otros aspectos importantes para la salud de tu gato.</p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="data">
  

  <!-- Enfermedades Comunes -->
  <ion-item button (click)="toggleSection('enfermedades')">
    <ion-label>Enfermedades Comunes</ion-label>
    <ion-icon [name]="sectionOpen === 'enfermedades' ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngIf="sectionOpen === 'enfermedades'">
    <ion-card-content *ngFor="let enfermedad of enfermedades">
      <p (click)="toggleExample(enfermedad.nombre)">
        <strong>{{enfermedad.nombre}}</strong>
        <span *ngIf="!isExampleOpen(enfermedad.nombre)"> (Haz clic para ver más)</span>
      </p>
      <ion-card *ngIf="isExampleOpen(enfermedad.nombre)">
        <ion-card-content>
          <p><strong>Descripción:</strong>{{enfermedad.descripcion}}</p>
          <p><strong>Prevención:</strong> {{enfermedad.prevencion}}</p>
          <p><strong>Tratamiento:</strong> {{enfermedad.tratamiento}}</p>
        </ion-card-content>
      </ion-card> 
     
    </ion-card-content>
  </ion-card>

  <!-- Primeros Auxilios -->
  <ion-item button (click)="toggleSection('primerosAuxilios')">
    <ion-label>Primeros Auxilios</ion-label>
    <ion-icon [name]="sectionOpen === 'primerosAuxilios' ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngIf="sectionOpen === 'primerosAuxilios'">
    <ion-card-content *ngFor="let aux of auxilios">
      <p (click)="toggleDetail(aux.nombre, 'primerosAuxilios')">
        <strong>{{aux.nombre}}</strong>
        <span *ngIf="!isDetailOpen(aux.nombre, 'primerosAuxilios')"> (Haz clic para ver más)</span>
      </p>
      <ion-card *ngIf="isDetailOpen(aux.nombre, 'primerosAuxilios')">
        <ion-card-content>
          <p>{{aux.descripcion}}</p>
        </ion-card-content>
      </ion-card>
      
    </ion-card-content>
  </ion-card>

  <!-- Consejos de Cuidado General -->
  <ion-item button (click)="toggleSection('cuidadoGeneral')">
    <ion-label>Consejos de Cuidado General</ion-label>
    <ion-icon [name]="sectionOpen === 'cuidadoGeneral' ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngIf="sectionOpen === 'cuidadoGeneral'">
    <ion-card-content *ngFor="let consejo of consejos">
      <p (click)="toggleDetail(consejo.nombre, 'cuidadoGeneral')">
        <strong>{{consejo.nombre}}</strong>
        <span *ngIf="!isDetailOpen(consejo.nombre, 'cuidadoGeneral')"> (Haz clic para ver más)</span>
      </p>
      <ion-card *ngIf="isDetailOpen(consejo.nombre, 'cuidadoGeneral')">
        <ion-card-content>
          <p>{{consejo.descripcion}}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <!-- Comportamiento y Salud Mental -->
  <ion-item button (click)="toggleSection('comportamiento')">
    <ion-label>Comportamiento y Salud Mental</ion-label>
    <ion-icon [name]="sectionOpen === 'comportamiento' ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngIf="sectionOpen === 'comportamiento'">
    <ion-card-content *ngFor="let comportamiento of comportamientos">

      <p (click)="toggleDetail(comportamiento.nombre, 'comportamiento')">
        <strong>{{comportamiento.nombre}}</strong>
        <span *ngIf="!isDetailOpen(comportamiento.nombre, 'comportamiento')"> (Haz clic para ver más)</span>
      </p>
      <ion-card *ngIf="isDetailOpen(comportamiento.nombre, 'comportamiento')">
        <ion-card-content>
          <p>{{comportamiento.descripcion}}</p>
        </ion-card-content>
      </ion-card>
     
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
